body {
   font-family: covik-sans, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
}

/* 
Covik Sans Medium

font-family: covik-sans, sans-serif;
font-weight: 500;
font-style: normal;

Covik Sans Semibold

font-family: covik-sans, sans-serif;
font-weight: 600;
font-style: normal;

Covik Sans Medium Italic

font-family: covik-sans, sans-serif;
font-weight: 500;
font-style: italic; */
